* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-colour);
}
.navbar {
  background: var(--inpt-colour);
  height: 60px;
  /*border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;*/
  text-align: center;
  padding-top: 20px;
  font-family: "Monaco"
}
